.fondo{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
.contenedor{
    background-color: blue;
    width: 82mm;
    height: 144.5mm;
    display: grid;
    grid-template-rows: 48% 4% 48%;
    border-radius: 20px;
}

.pantalla{
    background:linear-gradient(180deg, rgb(50, 20, 220),rgb(253, 253, 253, 0.6));
    margin: 20px 15px;
}

.controlador{
    margin: 20px;
    margin-bottom: 0px;

}

.movimiento{
    width: 25mm;
    height: 25mm;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 50%;
    margin-top: 15%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: auto auto auto;
}

.flecha{
    background-color: black;
    border-radius: 5px;
}

.luz{
    width: 2mm;
    height: 2mm;
    border-radius: 50%;
    background-color: grey;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.botones-centrales{
    display: grid;
    grid-template-columns: auto auto;
    display: flex
}

.accion{
    margin-right: 0px;

    width: 25mm;
    height: 25mm;
    margin-top: 15%;
    margin-left: 75px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
}


.menu{
    margin-top: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.select{
    width: 3mm;
    height: 3mm;
    border-radius: 50%;
    background-color: grey;
    margin: 0 10px 0 10px;
}

.start{
    
    width: 3mm;
    height: 3mm;
    border-radius: 50%;
    background-color: grey;
    margin: 0 10px 0 10px;
}
.A{
    border-radius: 50%;
    background-color: black;
    color: white;
    padding-top: auto;
    padding-bottom: auto;
    display: flex;
    align-items: center;

}

.boton-texto{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.encaje{
    display: flex;
    background-color: rgb(9, 9, 94);
}

.extremo-izq{
    height: 100%;
    width: 5%;
    background-color: white;
    border-radius: 24px 0 0 24px;
}

.centro{
    height: 100%;
    width: 90%;
    border-left: solid;
    border-right: solid;
}

.extremo-der{
    height: 100%;
    width: 5%;
    background-color: white;
    border-radius: 0 24px 24px 0;
}